@font-face {
  font-family: 'brandon';
  src:  url('Aladin-Regular.ttf') format('truetype');
  font-style:normal;
  font-weight:normal;
}

@font-face {
  font-family: 'josefin';
  src:  url('JosefinSans-Regular.ttf') format('truetype');
  font-style:normal;
  font-weight:normal;
}

body {
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: rgb(120,87,207);
}

.img-circle {
    border-radius: 50%;
    max-width: 100px;
    height: auto;
    position: relative;
}

.cover {
    max-height: 100%;
    max-width: 100%;
    position: relative;
}

.container {
    position: relative;
}

.topleft {
    position: absolute;
    top: 5%;
    left: 15%;
}

.topright {
    position: absolute;
    top: 8%;
    right: 15%;
    font-size: 22px;
    font-family: brandon;
    color: white;
}

.center {
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    text-align: center;
    font-family: brandon;
    color: white;
}

@media only screen and (max-width: 720px){
    .center {
        position: absolute;
    left: 0;
    top: 35%;
    height:300px;
    line-height: 28px;
    text-align: center;
    font-family: brandon;
    color: white;
    }
}

.prof {
    border-radius: 50%;
    max-width: 200px;
    height: auto;
    position: relative;
    top: 15px;
}

.resume {
    border-left: 1px solid;
    border-right: 1px solid;
    width: 60%;
    text-align: center;
    font-family: josefin;
    font-size: 22px;
    padding: 2%;
    margine-bottom: 40px;
    color:rgb(45, 75, 35);
}

div.gallery {
    border: 1px solid #ccc;
    border-radius: 15px;
    max-width: 200px;
    max-height: 200px;

}

div.gallery:hover {
    border: 1px solid #777;
    border-radius: 15px;
}



* {
    box-sizing: border-box;
}

.responsive {
    padding: 2%;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 1080px){
    .responsive {
        width: 39.99999%;
         margin: 6px 0.5%;
    }
}

@media only screen and (max-width: 720px){
    .responsive {
        width: 100%;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: left;
}

.rounded {
    border-radius: 15px;
    max-width: 200px;
    max-height: 200px;
}

.photos {
    margin-top: 5%;
    margin-bottom: 0%;
    width: 80%;
}

.contact {
    clear: left;
    position: relative;
    background-color: rgb(45, 75, 35);

    margin-top: 40%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

}

.phone{
    position: absolute;
    top: 10%;
    left: 5%;
    height: 20%;
}
.gmail{
    position: absolute;
    top: 60%;
    left: 5%;
    height: 20%;
}

.teleg{
    position: absolute;
    top: 10%;
    right: 5%;
    height: 20%;
}
.insta{
    position: absolute;
    top: 60%;
    right: 5%;
    height: 20%;
}

.info{
   position: absolute;
   top: 10%;
   left: 10%;
   font-family: josefin;
   font-size: 20px;
   color: white;
}

.info2{
   position: absolute;
   top: 55%;
   left: 10%;
   font-family: josefin;
   font-size: 20px;
   color: white;
}

.resume a {
   color: rgb(89,89,213);
    text-decoration: none;
}

.resume a:hover{
    color: rgb(149,96,185);
    font-decoration: bold;
}
